{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajout d'un personnage</h1>

    {{ form_start(form) }}

    <div>
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>
    <div>
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
        {{ form_errors(form.prenom) }}
    </div>
    <div>
        {{ form_label(form.sexe) }}
        {{ form_widget(form.sexe) }}
        {{ form_errors(form.sexe) }}
    </div>
    <div>
        {{ form_label(form.bio) }}
        {{ form_widget(form.bio) }}
        {{ form_errors(form.bio) }}
    </div>
    <div>
        {{ form_label(form.royaume) }}
        {{ form_widget(form.royaume) }}
        {{ form_errors(form.royaume) }}
    </div>
    <div>
        {{ form_widget(form.submit) }}
    </div>

    {{ form_end(form) }}

    <div>
        <ul id="persoAdded">

        </ul>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('form[name="gameofthronesbundle_personnage"]').submit( function (e) {
                e.preventDefault();
                var form = $(this).serialize();
                var plop = $(this);
                $.ajax({
                    method: 'post',
                    url: '{{ path('add_perso') }}',
                    data: form,

                    success: function(response) {
                        console.log(response);
                        alert(response + ' ajouté!');
                        var li = $(document.createElement('li'));
                        li.attr({
                            'class': 'plop',
                            'id': '12'
                        });

                        li.text(response);

                        $('#persoAdded').append(li);
                        li.hide().slideDown(200);

                        plop.trigger('reset');

                    }
                })
            });
        });
    </script>
{% endblock %}